/* Navigation Bar */

.navBar {
  display: flex;
  background: black;
  color: white;
  font-size: 20px;
  line-height: 52px;
}

.navBar div {
  flex: 1;
  display: flex;
}

.links {
  justify-content: flex-end;
  align-items: center;
}

.navBar a {
  text-decoration: none;
  padding: 10px;
}

.navBar a:visited {
  color: crimson;
}

/* Navigation Bar */

/* Invoice Display*/
body {
  margin: 0;
  font-family: Arial;
  background: #80808021;
}

.invoiceContainer {
  display: flex;
  flex-direction: column;
}

h2 {
  background: black;
  padding: 0 15px;
  text-align: left;
  color: lime;
  font-size: 20px;
}

#sname {
  font-size: 22px;
  margin: 5px;
}

.createInvoice {
  float: right;
  margin: 8px;
}

.invoiceHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#sname {
  font-size: 22px;
  font-weight: 600;
}

.addressBlock {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.productList {
  padding: 10px;
  width: 100%;
}

#productListHeader {
  background-color: #ddd;
}

#productListHeader th {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  line-height: 200%;
  text-align: center;
}

tr > :first-child {
  border-left: 2px solid #ddd;
}

.productListRow td {
  padding: 5px;
  border-right: 2px solid #ddd;

}

.pr-product {
  border-right: 2px solid #ddd;
  width: 34%;
}

.pr-quantity,
.pr-tax {
  text-align: center;
  width: 8%;
}

.pr-mrp,
.pr-price,
.pr-bprice,
.pr-cgst,
.pr-sgst,
.pr-amount {
  text-align: right;
  width: 8%;
}

.pr-igst {
  text-align: right;
  width: 16%;
}

.invoiceTotalRow td {
  background-color: #ddd;
  padding: 5px;
  border-right: 2px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.empty-34 {
  width: 34%;
  font-weight: 100;
  font-size: 12px;
}

.empty-8,
.summary-bprice,
.summary-cgst,
.summary-sgst,
.summary-total {
  text-align: right;
  width: 8%;
}

.summary-igst {
  width: 16%;
  text-align: right;
}

.summary-totalInWords {
  padding: 5px;
  margin: 5px;
}

#disclaimer {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
}

@media print {
  h2 {
    display: none;
  }

  .navBar {
    display: none;
  }
}

/* Invoice Display */

/* Invoice Create */

.form-table {
  border-radius: 5px;
  margin: 8px;
  border: solid 1px gray;
  background: #f3f3f3;
}

input[type="text"] {
  border: solid 1px gray;
  border-radius: 5px;
  background-color: white;
  height: 32px;
  margin: 2px;
  padding: 5px;
  font-size: 14px;
}

input[type="button"],
.btn {
  height: 36px;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #00539f;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input[type="checkbox"]:checked + label:after {
  content: "\2714";
  font-size: 20px;
  left: 2px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #00539f;
}

.invoiceTopToolbelt {
  display: flex;
}

.invoiceTopToolbelt div {
  flex: 1;
}

.igst {
  margin: 8px;
  font-weight: bold;
}

.igst span {
  margin: 8px;
}

.createContainer {
  display: flex;
  flex-direction: column;
}

.createToolkit {
  text-align: center;
}

.customerAddress {
  margin: 8px;
}

.customerAddress .nameId {
  display: flex;
}

.customerAddress .nameId input {
  flex: 1;
}

.customerAddress .address {
  display: flex;
}

.customerAddress .address input {
  flex: 1;
}

.inputHeaders {
  display: flex;
  padding: 8px;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #00539f;
  color: white;
}

.inputHeaders div {
  flex: 1;
}

.inputRow {
  display: flex;
  margin: 4px 8px;
}

.inputRow > * {
  flex: 1;
  flex-direction: row;
}

.matchRow {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.matchRow div {
  flex: 1;
  flex-direction: row;
}

.highlightProductMatch {
  background-color: gray;
}

/* Invoice Create */

/* Modal */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 1;
}

#modal {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 20%;
  background: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Modal */


/* Manage Product */

.productInputHeaders {
  display: flex;
  padding: 8px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #00539f;
  color: white;
}

.headerAddButton {
    flex: 7;
}

.headerTitles {
    flex: 16;
    display: flex;
    flex-direction: row;
}

.headerTitles div {
  flex: 1;
}

.productInputRow {
  display: flex;
  margin: 4px 8px;
}

.productInputRow > * {
  flex: 1;
  flex-direction: row;
}

.productInputRow #addNewButton {
  flex: 2;
}

/* Manage Product */
