/* Invoice Display*/
body {
  margin: 0;
  font-family: Arial;
  background: #80808021;
}

.invoiceContainer {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  background: black;
  margin: 0 0 24px 0;
  padding: 0 12px;
  text-align: left;
  color: white;
  font-size: 20px;
  line-height: 52px;
}

.createInvoice {
  float: right;
  margin: 8px;
}

.invoiceHeader {
  display: flex;
  flex-direction: row;
  margin: 8px;
  font-weight: bold;
}

.invoiceHeader div {
  flex: 1;
}

.invoiceDetails {
  text-align: right;
}

.addressBlock {
  text-align: left;
}

.productList {
  border-radius: 5px;
  margin: 8px;
  border: solid 1px gray;
  background: #f3f3f3;
}

.productList div {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1px;
}

.productListHeaders {
  border-bottom: 1px solid black;
}

.productListRow {
}

/* Invoice Display */

/* Invoice Create */

.form-table {
  border-radius: 5px;
  margin: 8px;
  border: solid 1px gray;
  background: #f3f3f3;
}

input[type=text] {
  border: solid 1px gray;
  border-radius: 5px;
  background-color: white;
  height: 32px;
  margin: 2px;
  padding: 5px;
  font-size: 14px;
}

input[type=button]  {
  height: 36px;
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #00539f;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type=checkbox]:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

input[type=checkbox]:checked + label:after {
  content: '\2714';
  font-size: 20px;
  left: 2px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #00539f;
}

.igst {
  margin: 8px;
  font-weight: bold;
}

.igst span {
  margin: 8px;
}

.createContainer {
  display: flex;
  flex-direction: column;
}

.createToolkit {
  text-align: center;
}

.customerAddress {
  margin: 8px;
}

.customerAddress .nameId {
  display: flex;
}

.customerAddress .nameId input{
  flex: 1;
}

.customerAddress .address {
  display: flex;
}

.customerAddress .address input{
  flex: 1;
}

.inputHeaders, .productListHeaders {
  display: flex;
  padding: 8px;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #00539f;
  color: white;
}

.inputHeaders div {
  flex: 1;
}

.inputRow {
  display: flex;
  margin: 4px 8px;
}

.inputRow input{
  flex: 1;
  flex-direction: row;
}

.matchRow {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.matchRow div {
  flex: 1;
  flex-direction: row;
}

.highlightProductMatch {
  background-color: gray;
}

/* Invoice Create */
